.person-details_list{
    margin: 30px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(83, 77, 77, 0.726);
    width: 60%;
    font-size: 25px;
    font-family: 'Star Jedi', arial;
    margin-left: 20%;
}
.person-details_pic{
    padding-right: 50px;
    width: 225px;
    height: 275px;
}
.person-details_title{
    padding-bottom: 12px;
    padding-top: 10px;
}
.person-details_item{
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
}