.person-details_list{
    margin: 30px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 35%;
}
.person-details_pic{
    padding-right: 50px;
}
.person-details_title{
    padding-bottom: 12px;
}
.person-details_item{
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
}