.header{
    margin: 20px 20px 10px 300px;
    height: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: teal;
}

.header-nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 140px;
    padding-top: 15px;
    color: white;
}
.item{
    padding-right: 20px;
}


a{
    color: rgb(247, 247, 247);
}