.item-list_block{
    margin: 30px 30px 30px 30px;
    width: 35%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(179, 168, 168, 0);
    border-radius: 10px;
    height: 250px;

}
.list-item{
    padding-bottom: 10px;
}
.item-list_first{
    padding-top: 20px;
}
.list-group_item{
    font-size: inherit;
    padding-top: 12px;
    cursor: pointer;
    padding-left: 18px;
    border-bottom: 1px solid white;
}
.list-group_item:hover{
    background-color: rgba(228, 109, 109, 0.219);
}
.list-group_item:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.list-group_item:last-child{
    padding-bottom: 10px;
}